#editArea, textarea {
  background-color: white;
  border: 1px solid black;
  width: 800px;
  height: 400px;
  overflow: auto;
}

.longestWord {
  background-color: aqua;
}

table, td, th {
  border-collapse: collapse;
  border: 1px solid black;
  padding: 2px 10px;
}

caption {
  text-align: left;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

